.post {
    display: inline-block;
    margin-left: 50px;
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border: 2px solid #343fdf;
    border-radius: 20px;
    border-start-end-radius: 50px;
    box-shadow: 5px 5px 5px #888888;
    color: #fff;
    text-align: center;
    line-height: 100px;
}



.post p {
    width: 420px;
    height: 200px;
    max-width: 100%;
    color: black;
    text-align: left;
    line-height: normal;
    margin-left: 40px;
    margin-right: 40px;
    border: #343fdf;
    overflow: hidden; /* Masque le contenu débordant */
    white-space: pre-wrap; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Gère le débordement du mot */
}


.date {
    display: inline;
    width: 80px;
    height: 20px;
    max-width: 100%;
    color: black;
    text-align: center;
    line-height: normal;
    margin-left: 40px;
    margin-right: 40px;
    border: #343fdf;
    overflow: hidden; /* Masque le contenu débordant */
    white-space: pre-wrap; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Gère le débordement du mot */
}

.post h3 {
    display: inline-flex;
    line-height: normal;
    width: 300px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 40px;
    text-align: left;


}

.subject {
    display: block;
    justify-content: left;
    margin-right: 40px;
    margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}



.post .logo {
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin-left: 150px;
    padding: 25px;
}


/*A mettre dans le css du header*/

.newPost {
    display: block;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-right: 25px;
    margin-top: 25px;
}

.newPost .btn {
    margin-left: auto; /* Ajoute une marge à gauche pour aligner le bouton à droite */
}