.logo {
    width: 50px;
    height: 50px;
}

.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a74f15;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-left: 200px; 
    padding: 20px;
}

